/* Common CSS*/

img{
    max-width: 100%;
}
body{
    font-family: 'Kaisei Decol', serif;
    font-size: 18px;
    font-weight: normal;
}
h1, h2,h3,h4,h5,h6{
    font-family: 'Oswald', sans-serif;
    line-height: 1.5rem;
    font-weight: 600;
}


/* Header Area Working */
#header_area .col-md-9 ul{
    font-family: 'Oswald', sans-serif;
}


#header_area.left_menu .col-md-3 {
    order: 2;
}
#header_area.left_menu .col-md-9 {
    order: 1;
}
#header_area.left_menu .col-md-9 .justify-content-end{
    justify-content: flex-start !important;
}
#header_area.center_menu .row{
    width: 100%;
    flex-direction: column;
    gap: 20px;
    text-align: center !important;
}
#header_area.center_menu .col-md-9 .justify-content-end{
    justify-content: center !important;
}
#header_area.center_menu .col-md-3 .logo a img{
    width: 200px;
}


/*=========================================
    Blog area
===========================================*/
.blog_area a img {
    width: 970px !important;
    height: 350px;
    object-fit: cover;
}



/*=========================================
    Sidebar tag area
===========================================*/

.child_widget .wp-block-tag-cloud a.tag-cloud-link {
    text-decoration: none;
    color: #fff;
    background: #0D6EFD;
    padding: 5px 10px;
    margin: 3px;
    display: inline-block;
    transition: all 0.3s ease-in-out;
    font-size: 12px !important;
}

.child_widget .wp-block-tag-cloud a.tag-cloud-link:hover{
    background: #262626;
}


/* Footer */

footer.footer .child_widget p{
    padding-right: 150px;
}